manifest {
  author = "Evgenia Zotova"
  mainScript = "main.nf"
  defaultBranch = "main"
  name = "eqtl"
  description = "GTEx eQTL pipeline adapted for several groups of samples"
  version = "0.1"
  nextflowVersion = "22.04.0"
}

// Run with a stricter shell, so errors are caught earlier
process.shell = ['/bin/bash', '-ueo','pipefail' ]


params {
	includeConfig './params.config'
}


profiles {
	Altius {
		// Run on SLURM and load the appropriate modules	
		process {
			executor = "slurm"
			queue = "pool,bigmem,queue0,queue2,hpcz-1-short"
			memory = { 30.GB * task.attempt }
			cache = "lenient"
			errorStrategy = 'retry'
			maxRetries = 4
			beforeScript = "module load apptainer"
    	}
		singularity {
			enabled = true
			autoMounts = true
			runOptions = '--bind /net:/net --bind /home/ezotova/:/home/ezotova/'
		}
		executor {
			$slurm {
				queueSize = 400
			}
		}
  	}
}
