gtf = "/home/ezotova/230227_regulotyping/data/rnaseq/eqtl/combined.annotation.collapsed.gtf"
chr_list = "/home/ezotova/230227_regulotyping/data/rnaseq/eqtl/vcf_chr_list"
genotype_covs = "/home/ezotova/230227_regulotyping/data/rnaseq/eqtl/chroms1-22.phaseI+II+stim.annotated.ancestral.top5_PCA_covs.tsv"
other_covs = "/home/ezotova/230227_regulotyping/data/rnaseq/eqtl/covs.tsv"
genotyping_panel = "/net/seq/data/projects/regulotyping-phaseI+II+stim/genotyping_panel/chroms1-22.phaseI+II+stim.annotated.ancestral.vcf.gz"
